.logo1{
    height: 55px;
    width: 55px;
}
.logo2{
    color: black;
    margin-top: 8px;
    padding: 2px;
}
.logo-name{
    font-size: 5px;
}
.bg-container{
    background-image: url("https://wallpaperaccess.com/full/1318313.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.section-1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    padding-top: 240px;
    text-decoration: solid;
    color: rgba(0, 0, 0, 0.718);
    text-align: center;
    height: 100px;
}
.main-section{
    background-color: lightblue;
    background-size: cover;
}
.section-head{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    padding-top: 5px;
}
.about-section{
    text-align:start;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    font-size: larger;
}
.about-image,
.fi-section{
    width:100%;
    height:auto;
}

.tour-logo{
    width:120px;
    height:120px;
    margin-top:10px;
    margin-bottom:10px;
}
@media (min-width:768px){
    .tour-logo{
        width:250px;
        height:250px;
    }

    .about-image,
    .fi-section{
        height:600px;
    }
}
.card{
    background-color: blueviolet;
}
.card:hover{
    transform:translateY(-5px);
}
.tour-heading{
    text-align: center;
    padding: 2px;
}
:root{
    --main-bg: lightblue;
    --card-bg: blueviolet;
    --text-color:black;
}

.dark-mode{
    --main-bg:#121212;
    --card-bg:#333333;
    --text-color:white;
}
body{
    color:var(--text-color);
}
